
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div class="blog-post">
            <h2 class="blog-post-title"><%= @post.title %></h2>
            <p class="blog-post-meta">
              <%= @post.created_at %>
              <a href="#"><%= @post.author %></a>
            </p>
            <p><%= simple_format truncate(@post.body, length: 500) %></p>
            <p><%= link_to "Read More", post_path(id: @post.id) %></p>
            <nav>
              <ul class="pager">
                <li>
                  <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><p>Read Comments</p></a>
                </li>
                <li>
                  <a href="#"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><p>Read Later</p></a>
                </li>
                <li>
                  <a href="#"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span><p>Share This Post</p></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-3 blog-sidebar">
          <div class="sidebar-module">
            <img src="https://unsplash.it/75?image=680" alt="Responsive image" class="img-circle" />
            <h6>Happy Smiley Face</h6>
            <p>
              <a href="http://www.twitter.com">Twitter</a> &nbsp;|&nbsp;
              <a href="http://www.facebook.com">Facebook</a> &nbsp;|&nbsp;
              <a href="http://www.instagram.com">Instagram</a>
            </p>
          <div class="sidebar-module">
            <div class="media">
              <a href="#">
                <img class="media-object" src="https://unsplash.it/200?image686" alt="Responsive image" />
                  <p>About this ad</p>
              </a>
            </div>
            <div class="sidebar-module">
              <h5>SIDEBAR SECTION HEADING</h5>
              Cronut bitters taxidermy, cardigan chambray gluten-free polaroid ramps keffiyeh meditation kinfolk locavore art party swag sriracha. Health goth pickled gentrify shoreditch tofu, brunch keffiyeh. Messenger bag knausgaard heirloom bushwick, squid viral venmo farm-to-table. Cred franzen williamsburg before they sold out selfies. Freegan stumptown yuccie roof party mustache. Tilde letterpress listicle, chia cardigan authentic beard. Keytar swag wayfarers hoodie marfa.
            </div>
          </div>
        <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
