<%= form_for @post do |f| %>
  <p>
    <%= f.label :author_id %>
    <%= f.text_field :author_id %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Post Content" %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </p>
  <%= f.submit %>
<% end %>
