<!DOCTYPE html>
<html>
  <head>
    <title>SurfnPaddleRails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link type="text/css" rel="stylesheet" href="main.css"/>

  </head>

  <body>
    <header>
    <nav class="navbar">
      <div class="container">
          <div class="navbar-left">
            <%= image_tag "logo-surf-and-paddle" %>
          </div>
          <a class="navbar-brand"><%= link_to "SURF & PADDLE CO. BLOG", root_path %></a>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">ABOUT<span class="sr-only">(current)</span></a></li>
            <li><a href="#">SEARCH <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
          </ul>
      </div>
    </nav>
    <div class="page-header">
      <h1>Surf & Paddle Co.</h1>
      <h6>A Fourth Cohort Indianapolis IronYard Project</h6>
    </div>
  </header>

  <%= yield %>

  <footer>
  <h3>MOST POPULAR POSTS</h3>
  <hr>
  <div class="row">
    <%= @other_post.each { |post| }
      <div class="col-md-3 col-sm-6 footer_image">
          <img src="https://unsplash.it/800?image=909" class="img-responsive" alt="Responsive image" />
          <h4><%= @title %></h4>
      </div>
    <% end %>
  </div>


      <div class="container">
        <div class="row">
          <div class="col-md-6">
              <%= image_tag "logo-surf-and-paddle" %>
              <%= @title %>
          </div>
          <div class="col-md-6">
              <p>
                <a href="#">Nav Item 1</a> &nbsp;|&nbsp;
                <a href="#">Nav Item 2</a> &nbsp;|&nbsp;
                <a href="#">Nav Item 3</a> &nbsp;|&nbsp;
                <a href="#">Nav Item 4</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
