<!DOCTYPE html>
<html>
  <head>
    <title>SurfnPaddleRails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link type="text/css" rel="stylesheet" href="main.css"/>

  </head>

  <body>
    <header>
    <nav class="navbar">
      <div class="container">
          <div class="navbar-left">
            <%= link_to image_tag("logo-surf-and-paddle"), root_path %>
            <%= link_to @blogtitle , root_path %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">About<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
          </ul>
      </div>
    </nav>
    <div class="page-header">
      <h1><%= @title %> </h1>
      <h6><%= @subtitle %></h6>
    </div>
  </header>

  <%= yield %>

  <footer>
    <h3>LATEST POSTS</h3>
    <div class="row">
      <% @other_post.each do |post| %>
        <div class="col-md-3 col-sm-6 footer_image">
            <%= link_to image_tag(post.image), post_path(id: post.id) %>
            <h4><%= link_to "#{post.title}", post_path(id: post.id) %></h4>
        </div>
      <% end %>
    </div>


      <div class="container bottom_row">
        <div class="row">
          <div class="col-md-6">
            <%= link_to image_tag("logo-surf-and-paddle"), root_path %>
            <%= link_to @title , root_path %>
          </div>
          <div class="col-md-6">
              <p>
                <a href="#">Nav Item 1</a> &nbsp;|&nbsp;
                <a href="#">Nav Item 2</a> &nbsp;|&nbsp;
                <a href="#">Nav Item 3</a> &nbsp;|&nbsp;
                <a href="#">Nav Item 4</a>
              </p>
            </div>
          </div>
        </div>
    </footer>
  </body>
</html>
